*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Radio Canada",sans-serif;
}

body{
    background: rgb(226, 226, 226);
}

nav{
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    left:0;
    width: 90px;
    /*width: 280;*/
    background: #fff;
    overflow: hidden;
    transition: 1s;
}


nav:hover{
    width: 280px;
    transition: 1s;
}

.logo{
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
    padding-bottom: 3rem;
}

.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    margin-top: 10px;
    text-transform: uppercase;
}

a{
    position: relative;
    width: 280px;
    font-size: 14px;
    color:rgb(85, 83, 83);
    display: table;
    padding: 10px;
}

.fa-house{
    position: relative;
    width: 70px;
    height: 40px;
    top: 15px;
    font-size: 20px;
    text-align: center;
}

.fa-user{
    position: relative;
    width: 70px;
    height: 40px;
    top: 15px;
    font-size: 20px;
    text-align: center;
}

.fa-calendar-days{
    position: relative;
    width: 70px;
    height: 40px;
    top: 15px;
    font-size: 20px;
    text-align: center;
}
.fa-circle-xmark{
    position: relative;
    width: 70px;
    height: 40px;
    top: 15px;
    font-size: 20px;
    text-align: center;
}
.fa-gear{
    position: relative;
    width: 70px;
    height: 40px;
    top: 15px;
    font-size: 20px;
    text-align: center;
}

.fa-right-from-bracket{
    position: relative;
    width: 70px;
    height: 40px;
    top: 15px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover{
    background: #eee;
}

a:hover i{
    color: #191964;
    transition: 0.5s;
}

.logout{
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
}

.container{
    display: flex;
}

/*Main Section*/

.registration-confirm{
    position: relative;
    padding: 20px;
    width: 100%;
}

.reg-confirm {
    display: flex;
    flex-direction: column; /* Ensures items stack vertically */
    align-items: flex-start; /* Aligns items to the start of the container */
    gap: 10px; /* Adds spacing between each item */
    width: 100%;
}


/*confirmation pop-up*/

.confirm, .confirm_popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.confirm{
    background: #071a6d;
    color: white;
    font-family: "Radio Canada",sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    border: 1px solid #0059b3;
}

.confirm:hover{
    transition: .5s;
    background: #3e95ec;

}

.confirm_popup{
    user-select: none;
    width: 400px;
    background: #f2f2f2;
    text-align: center;
    align-items: center;
    padding: 40px;
    border: 1px solid #b3b3b3;
    box-shadow: 0px 5px 10px rgba(0,0,0 .2);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in-out;
}

.confirm_popup i{
    font-size: 60px;
    color: #e7b425;
    border-radius: 50%;
    margin: -10px 0 20px 0;
}

.confirm_popup h2{
    font-size: 30px;
    color: #0e0b22;
    margin-bottom: 5px;
}

.confirm_popup label{
    font-size: 20px;
    color: #5e5c5c;
}

.confirm_popup .buttons{
    display: flex;
    flex-direction: row;
    margin: 20px 0 0 0;
}

.buttons .yesbtn, .buttons .nobtn{
    background: #071a6d;
    color: white;
    font-size: 18px;
    padding: 10px 13px;
    border: 1px solid #808080;
    border-radius: 5px;
}

.buttons .nobtn{
    background: #8f8f8f;
    margin-right: 20px;
    border:1px solid #5f5f5f;
}

.yesbtn:hover{
    transition: .5s;
    background: #3e95ec;
}



