body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    min-height: 100vh;
}
.wrapper {
    background-image: url("images/csn.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url('images/coyote.jpeg');
    background-size: cover;
    background-position: fixed;
    width: 100%;
    height: 100vh;
    padding-bottom: 7%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 6% 15px 3%;
    background-color: white;
    opacity: 95%;
}
header h1 {
    font-weight: 500;
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-size: 16px;
}
nav li {
    height: 50px;
}
#active {
    color: #01478E; 
    font-weight: 700;
}
.mainNav:hover {
    border-bottom: 3px solid #01478E;
    transition: 0.3s;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 96vh;
    width: 200px;
    z-index: 999;
    background: white;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: black;
    border-radius: 16px 20px;
    backdrop-filter: blur(10px);
}
.sidebar li, .sidebar a {
    width: 100%;
    padding-bottom: 30%;
    color: black;
}
.sidebar li a:hover {
    color: #ffd51d;
}
#closeMenu {
    padding-top: 10%;
    padding-left: 61%;
}
#openMenu {
    display: none;
}

#box {
    width: 250px;
    height: 370px;
    float: right;
    padding: 20px 30px;
    background-color: #01478E;
    border: 2px solid white;
    font-size: 21px;
    color: whitesmoke;
    opacity: 95%;
    margin: 8% 6% 0px 0px;
}
#slogan {
    width: 580px;
    height: 230px;
    color: white;
    position: absolute;
    bottom: 0;
}
#slogan h1 {
    color: white;
    font-weight: 600;
    margin: 18% 0px 0px 20%;
    font-size: 60px;
    font-style: italic;
    text-align: center;
    white-space: nowrap;
}

/* book appointment div */
.bookApp h1 {
    color: #01478E;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size: 60px;
}
#bookbtn, #bookbtn a {
    padding: 20px 40px;
    border-radius: 30px 30px;
    background-color: #01478E;
    border: none;
    color: white;
    font-size: 15px;
    text-decoration: none;
}
#bookbtn a:hover {
    color: black;
}
.bookApp img {
    float: right;
    padding: 4.5% 13% 0% 0%;
}
#book-inner {
    margin: 4% 10% 0px 10%;
}
#book-inner p {
    color: #01478E;
    font-size: 17px;
}
#book-inner img {
    float: right;
    margin: 6% 8% 0% 0%;
}
#tips {
    width: 50%;
    border-bottom: 1px solid #ffd51d;
}
#campuses, .contact {
    margin: 10px 0% 0px 10%;
    width: 40%;
}
.campuses h1, .contact h1 {
    color: #ffd51d;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size: 50px;
}
.contact p {
    color: #01478E;
    font-size: 17px;
    height: 8px;
}
iframe {
    padding-bottom: 2%;
}

/* contact */
input, textarea {
    border-radius: 20px 20px;
    padding: 8px 30px;
    border: 1px solid black;
}
textarea, #email {
    width: 166%;
}
.contact {
    width: 100%;
    padding-bottom: 6%;
    white-space: nowrap;
}
#contact-info {
    float: left;
    width: 50%;
}
#contact-info img {
    padding: 30px 10px 50px 10px;
}
#contact-form {
    padding-top: 5%;
    white-space: nowrap;
}
label {
    padding-bottom: 15px;
}
#contact-form p {
    font-size: 20px;
}
#submitBtn {
    border-radius: 20px 20px;
    padding: 10px 30px;
    background-color: #01478E;
    color: white;
    border: 1px solid white;
}
#submitBtn:hover {
    background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
}


@media only screen and (max-width: 600px) {
    #slogan {
        display: none;
    }
    .bookApp img {
        padding: 4.5% 25% 10% 0%;
        display: none;
    }
    #box {
        margin: 20% 44% 0px 0px;
    }
    #openMenu {
        display: block;
    }
    .mainNav {
        display: none;
    }
}