{% load static %}
{% comment %}  npx vite build   {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {#  Internal CSS#}
    {% if request.path == '/' %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        .wrapper {
            background-image: url("static/images/csn.jpg");
            background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url('static/images/coyote.jpeg');
    </style>
    {% elif request.path == '/student_dashboard/' %}
    <link rel="stylesheet" href="{% static 'css/in.css' %}">

    
    {% elif request.path == '/exam_registration/' %}
    <link rel="stylesheet" href="{% static 'css/process.css'%}">
    {% elif request.path == '/QASupport/' %}
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
    <style>
        #faqTitle {
            background-image: url('{%static 'images/yellow2.jpg' %}');
            }
            .wrapper{
                background-image: url('{%static 'images/yellow2.jpg' %}');
            }
            
    </style>
    {% endif %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    
    {# External CSS #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/releases/v6.5.1/js/all.js" defer="" crossorigin="anonymous" data-search-pseudo-elements=""></script>

    <title>{% block title %}Cordial-Associates{% endblock %}</title>


{# Calender #}
<link rel="stylesheet" href="{% static 'javascript/dist/assets/calendar-CTDkUHhy.css' %}">


</head>
<body>
        {% block content %}
        {% endblock %}
<script type="module" src="{% static 'javascript/dist/assets/calendar-BFOXfLTj.js' %}"></script>
<script src="{%static 'javascript/script.js'%}"  script></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</body>
</html>

{% comment %} 

{% endcomment %}