{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.7.1.js" 
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $('.confirm').click(function(){
                $('.confirm_popup').css({
                    "opacity": "1", "pointer-events" : "auto"
                });
            });
            $('.nobtn').click(function(){
                $('.confirm_popup').css({
                    "opacity": "0", "pointer-events":"none"
                });
            });
        });
    </script>
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="#" class="logo">
                    <img src="{% static 'images/csnlogo.png' %}" alt="Logo">
                    <span class="nav-item">Hello {{ user.first_name }}!</span>
                </a></li>
                <li><a href="{% url 'student_dashboard'%}">
                    <i class="fa-solid fa-user"></i>
                    <span class="nav-item">Dashboard</span> 
                </a></li>
                <li><a href="{%url 'student_history'%}">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span class="nav-item">Action History</span> 
                </a></li>
       
                <li><a href="{% url 'student_info'%}">
                    <i class="fa-solid fa-gear"></i>
                    <span class="nav-item">Settings</span> 
                </a></li>
                <li>
                    <a href="#" class="logout" onclick="document.getElementById('logout-form').submit();">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        Log Out
                    </a>
                    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                        {% csrf_token %}
                    </form>
                </li>
                
            </ul>
        </nav>
        {% block content %}
   
        {% endblock %}
    </div>
</body>
</html>
