{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Cordial-Login</title>
    <script src="{% static 'javascript/script.js' %}"></script>
</head>
<body>
    <div id="wrapper">
        <!-- Login Form -->
        <form method="POST" id="login-form">
            {% csrf_token %}
            <h1>Login</h1>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% for field in login_form %}
                <div class="login-input">
                    {{ field }}
                    {% if field.name == 'email' %}
                        <i class='bx bx-envelope'></i>
                    {% elif field.name == 'password' %}
                        <i class='bx bx-lock'></i>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" id="loginBtn" name="loginBtn">Login</button>
            <p id="createAccount" onclick="createAccount()">Need an account? Register</p>
            <div class="login-img">
                <p><img src="{% static 'images/logowhite.png' %}"></p>
            </div>
        </form>

        <!-- Registration Form -->
        <form method="POST" id="register-form" style="display: none;">
            {% csrf_token %}
            <h1>Register</h1>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% for field in register_form %}
                <div class="register-input">
                    {{ field }}
                    {% if field.name == 'first_name' or field.name == 'last_name' %}
                        <i class='bx bx-user'></i>
                    {% elif field.name == 'email' %}
                        <i class='bx bx-envelope'></i>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" id="registerBtn" name="registerBtn">Create Account</button>
            <p id="login" onclick="login()">Already have an account? Login</p>
            <div class="register-img">
                <p><img src="{% static 'images/logowhite.png' %}"></p>
            </div>
        </form>
    </div>
</body>
</html>
