{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>Welcome to your dashboard!</h1>
    <p>Here you can manage your account and view your exam details.</p>
    
    <div class="slot">
        <a href="#">Empty</a>
    </div>
    <div class="slot">
        <a href="#">Empty</a>
    </div>
      <div class="slot">
        <a href="#">Empty</a>
    </div>
    
    
    <!-- Calendar container -->
    <div id="calendar"></div>
    
    <div id="time-blocks">
    
    </div>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>

    <!-- Include JavaScript -->
    
{% endblock %}
