
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    </head>
    <body>
        
        <script src="" async defer></script>
    </body>
</html>
{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to your dashboard!</h1>
    <p>Here you can manage your account and view your exam details.</p>
    
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
{% endblock %}

