<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="faq.css">
  </head>
  <body>
    <header>
        <img src="images/logo.png.webp" width="320px" height="90px">
        <nav>
          <ul>
              <li><a href="campus.html">Campuses</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#contact-info">Contact</a></li>
              <li><a href="login.html" id="active">Book Now</a></li>
          </ul>
        </nav>
    </header>

  <ul id="questions">
    <h2>Frequently Asked Questions</h2>
    <li>
      <label for="question1">Question 1 <span>&#x3e</span></label>
      <input type="radio" name="questions" id="question1">
      <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ipsum ex magni, aut hic quidem corrupti, necessitatibus velit officiis quia quam! Excepturi magni impedit nam illo doloremque illum cupiditate odit.</p>
      </div>
    </li>
    <li>
      <label for="question2">Question 1 <span>&#x3e</span></label>
      <input type="radio" name="questions" id="question2">
      <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ipsum ex magni, aut hic quidem corrupti, necessitatibus velit officiis quia quam! Excepturi magni impedit nam illo doloremque illum cupiditate odit.</p>
      </div>
    </li>
  </ul>

    <script src="script.js" async defer></script>
  </body>
</html>